PLIP: Event end date should comply with RFC 5545 iCalendar

## PLIP (Plone Improvement Proposal): Event end date should comply with RFC 5545 iCalendar

For plone.app.event and UI elements for events, the end date of an event should comply with the iCalendar standard of a VEVENT's DTEND property as defined in [RFC 5545, section 3.6.1](https://datatracker.ietf.org/doc/html/rfc5545.html#section-3.6.1). Specifically:

>                   ; Either 'dtend' or 'duration' MAY appear in
>                   ; a 'eventprop', but 'dtend' and 'duration'
>                   ; MUST NOT occur in the same 'eventprop'.
>                   ;
>                   dtend / duration /
>                   ;
>                   ; The following are OPTIONAL,
>                   ; and MAY occur more than once.
>                   ;
>                   attach / attendee / categories / comment /
>                   contact / exdate / rstatus / related /
>                   resources / rdate / x-prop / iana-prop

> For cases where a "VEVENT" calendar component specifies a "DTSTART" property with a DATE value type but no "DTEND" nor "DURATION" property, the event's duration is taken to be one day. For cases where a "VEVENT" calendar component specifies a "DTSTART" property with a DATE-TIME value type but no "DTEND" property, the event ends on the same calendar date and time of day specified by the "DTSTART" property.

The meta [RFC 2119 definition of MAY and OPTIONAL](https://datatracker.ietf.org/doc/html/rfc2119#section-5) essentially says, "It's up to vendors how to implement optional specifications, but they must play nice together in the sandbox."

[icalendar](https://icalendar.readthedocs.io/en/stable/) is a Python library that implements the iCalendar standard and related standards. Plone has icalendar as one of its dependencies, and it writes `.ics` or iCalendar files to download.

In this PLIP, iCalendar with an uppercase "C" pertains to the standard and its files, whereas icalendar with a lowercase "c" pertains to the Python library.

## Responsible Persons

### Proposer: Steve Piercy @stevepiercy

### Seconder: YOUR NAME AND GITHUB USERNAME HERE

## Abstract

Plone has implementations of event end dates that are inconsistent of the iCalendar standard for DTEND. The iCalendar standard requires a DTSTART, but a DTEND or a DURATION are both optional.

### Create or edit an event

The following UI elements describe both the creation and editing of an event.

#### Event Ends is populated

Both Volto and Classic UI populate the Event Starts datetime with the current datetime rounded down to the current local hour, and populate the Event Ends datetime with one hour after the Event Starts datetime. The iCalendar standard does not populate a DTEND or DURATION by default.

In Classic UI, the help texts for both Event Starts and Event Ends are strange.

**Recommendations:** 

-   In both UIs, rephrase the help text for Event Starts "Date and Time, when the event begins." to "Date and time when the event starts."
-   In both UIs, rephrase the help text for Event Ends "Date and Time, when the event ends." to "Date and time when the event ends."

#### Event Ends value is required

Volto requires that events have a value for Event Ends. If the user clicks the red "X" to manually clear the Event Ends field, and clicks the Save button, it displays the error messages "Required input is missing." for Event Ends, and "Event start date must be on or before end" for Event Starts.

<img width="354" height="308" alt="Image" src="https://github.com/user-attachments/assets/4c40847c-e6ba-442c-8cc2-d5fc552a8336" />

Similar to Volto, Classic UI requires that events have Event Ends. Clearing the field displays an error message of "Please fill out this field." and disables the Save button.

<img width="346" height="679" alt="Image" src="https://github.com/user-attachments/assets/9d76822f-add4-4e0d-bdf6-e390bcdaaede" />

**Recommendation:** The editor should be allowed to save an event without an Ends Date.

#### Open End

Both Volto and Classic UI have a checkbox Open End, but it's ambiguous what that means. Its label, "This event is open ended." is a circular explanation. With the Event Ends field cleared, when checking the Open End box, both UIs disallow saving the event, but differ as follows.

-   Volto removes the Event Ends inputs from the DOM.
-   Classic UI hides the Event Ends inputs.
  
There's also an option to enter recurring events, making Open End even more ambiguous. The editor doesn't know whether Open End means an event without a DTEND or DURATION or is a recurring event.

The iCalendar standard has no concept of Open End, although it supports recurring events via RECUR, RDATES, and EXDATES, and a DTEND or DURATION are both optional. It's not ambiguous.

**Recommendation:** Purge Open End from both UIs.

#### Whole Day

Both Volto and Classic UI have a checkbox Whole Day. The iCalendar standard has no concept of Whole Day. Instead a VEVENT must be represented as a DTSTART without a time, and it may have an optional DTEND or DURATION.

-   In Volto, checking Whole Day removes the `end-time` input from Event Ends and the DOM.
-   In Classic UI, checking Whole Day changes the Event Ends input type `form.widgets.IEventBasic.end` from a `datetime-local` to a `date`.

The Whole Day checkbox appears to be a convenience for the user, who is not expected to understand the iCalendar standard of removing the time from a DTSTART or DTEND.

Note that Google, Apple, and Microsoft all name this kind of event "All day", which is a slightly better and more common name than "Whole Day".

**Recommendations:**

-   When checking Whole Day, allow the user to save the event without an Event Ends.
-   In Classic UI, when checking Whole Day, dynamically change the Event Starts and Event Ends help texts to remove "and Time".
-   Rename "Whole Day" to "All day" in the UIs.


### Persistent storage

When saving an event without an Event Ends, the stored value for Event Ends should be equivalent to `NULL` or `None`.

When saving an event as an all-day event:
-   The stored value of the Event Starts should have no time or duration.
-   If an Event Ends is provided, it should have no time or duration.
-   If an Event Ends is not provided, then the stored value of the Event Ends should be equivalent to `NULL` or `None`.


### Searching

When searching for an event without an Event Ends, searches should be adapted accordingly.

-   A search for an event on or after a given date should include all events that have no end date or that have an end date on or after the given date.
-   A search for an event on or before a given date should include all events that have a start date on or before the given date.
-   A search for an event between two dates should include all events that:
    -   have a start date between the two dates
    -   have a start date before or after the earlier date and no end date


## Motivation

Compliance with the RFCs ensures greater compatibility with calendaring applications and avoids confusing user interfaces.

## Assumptions

TBD.

## Proposal & Implementation

<!--
Detailed proposal with implementation details and - if needed - possible variants to be discussed.
-->

TBD.

I need help with identifying the packages that need to be changed.

## Deliverables

TBD, but likely to include:

-   Schema changes.
-   `plone.app.event` changes.
-   Changing the UI elements described above, both in Volto and Classic UI (specific packages not yet known).
-   An upgrade step to convert existing events to conform to the iCalendar standard.
-   Documentation of the upgrade step in the upgrade guides for both Classic UI and Volto.
-   Training of editors to recognize the removal of Open End, and instead either clear the Event Ends date and time fields or use recurring events.

## Risks

<!--
What will break/ affect existing installations of Plone after upgrade, including end user point of view, training efforts etc.
-->

TBD.

## Participants

Steve Piercy, @stevepiercy

## Related issues

- https://github.com/plone/Products.CMFPlone/issues/4115
- https://github.com/plone/plone.app.event/issues/97
- https://github.com/plone/volto/issues/7993 and proposed fix in https://github.com/plone/volto/pull/7995
- https://github.com/plone/volto/issues/3243
- https://github.com/plone/volto/issues/6144
- https://github.com/plone/plone.app.event/issues/405


Thanks for moving this forward, Steve. I'd like to flag some risks: 

- type switching: the iCalendar spec as summarized above has some weirdness: it uses type switching on the start date between `datetime` and `date` to imply different semantics for the end date, if neither end nor duration are set: if `start` is a `date` (without time), the "duration is taken to be one day", but if it's a `datetime` the spec uses some wooly language that seems to imply the duration is zero: "the event ends on the same calendar date and time of day specified by the "DTSTART" property"
- implied end inference: see above but I want to flag this implied logic as a potential risk separate from the type switching
- no timezone handling: none of the spec cited in this PLIP nor the PLIP itself explicitly addresses, what the intended semantics are for timezoned events. What the spec boils down to is: in the absence of duration and end, a `date` start implies an all-day event on that date, while a `datetime` start implies a zero-duration event on the start datetime. All of this is not a risk for the zero-duration case, and it is also fine if the start is indeed a date and not a datetime (see above); but if the implementatation needs to work around the type switching (I don't think our schemas can support that???), the situation becomes hairy: the naive approach would be, to represent the start-without-a-time as a datetime set to midnight, but that causes two problems: midnight in my timezone is not midnight in your timezone, and it mingles "actual" midnight with a use-datetime-as-date hack.

All of this in a sense expresses the same risk: the spec as quoted here does not straightforwardly map to an implementation in python. The implied logics for end dates are a source of potential bugs. The current implementation we have, with default duration of one hour and an extra boolean field 'all day' (I agree that's a better term than 'whole day'), might well be the most sane way of handling the impedance mismatch between spec and implementation concerns.

Thanks for your feedback, Guido. I'll try to address the points you bring up.

Here's how icalendar handles creating an event as all day via `date` with a start but without an end.

```pycon
>>> from icalendar import Event
>>> import datetime as dt
>>> import zoneinfo
>>> event = Event.new(start=dt.date(2026, 3, 31))
>>> print(event.to_ical().decode())
BEGIN:VEVENT
DTSTART;VALUE=DATE:20260331
DTSTAMP:20260331T070354Z
UID:1d7125a3-2e31-4dee-8bac-4b4db9a24a9a
CATEGORIES:
END:VEVENT
```

Note there's no DURATION or DTEND.

Similarly for an event with a `datetime` and `timezone`.

```pycon
>>> event = Event.new(start=dt.datetime(2026, 3, 31, 1, 0, 0, tzinfo=zoneinfo.ZoneInfo("America/Los_Angeles")))
>>> print(event.to_ical().decode())
BEGIN:VEVENT
DTSTART;TZID=America/Los_Angeles:20260331T010000
DTSTAMP:20260331T071357Z
UID:4dfd4a15-f6ec-4770-a59f-7bb2685c99ad
CATEGORIES:
END:VEVENT
```

There's still no DURATION or DTEND. icalendar handles both `date` and `datetime` without trouble.

The iCalendar specification leaves it up to the application how to handle this situation, which leads to incompatibility across calendaring applications.

Based on what I've observed in Plone REST API, I assume that Plone saves all events with both a start and end as a `datetime`. It appears not to use a timezone, though, but an offset. And when checking Whole Day, the response still returns a `datetime` not just a `date`. See what Plone REST API returns for an event content type at https://6.docs.plone.org/plone.restapi/docs/source/endpoints/content-types.html#event.

Timezone support in Plone could be improved. I created a separate PLIP for that in https://github.com/plone/Products.CMFPlone/issues/4115. This PLIP might depend on that one.

To be explicit with the schema changes, I see that each event content type would include the following inputs and their types. I probably should move this over to the other PLIP, too.

- start_date: date
- start_time: time | None
- start_timezone: timezone | None
- end_date: date | None
- end_time: time | None
- end_timezone: timezone | None

I can understand why the current implementation was chosen. It's a sane compromise, but it's a _compromise_. As such, it has several issues that lead to inconsistent implementations in Plone's front ends. Additionally the `.ics` exports always include a `DTEND`, which might not be desired.

Did I address all your points? Please let me know. Thank you!